
params {
    reference         = '/mnt/orca/diego/Nextflow_WPA.dev/whole_genome_pairwise_alignment/data/S_cerevisiae.fa'
    query             = '/mnt/orca/diego/Nextflow_WPA.dev/whole_genome_pairwise_alignment/data/S_eubayanus.fa'
    output            = '../output'
    // Regular expressions for filtering primary contigs.
    // Adjust these as needed for your assemblies.
    primary_regex_ref   = "chromosome [IVXLCDM]+,"
    primary_regex_query = "chromosome [IVXLCDM]+,"
}
